.catalog {
  display: grid;
  justify-content: center;
  gap: $gap;

  @media (min-width: $small-screen) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: $middle-screen) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: $large-screen) {
    grid-template-columns: repeat(4, $card-width);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__card:last-child {
    margin-bottom: 72px;
  }
}
