.catalog {
  display: grid;
  justify-content: center;
  gap: $gap;
  max-width: 100%;

  @media (min-width: 488px) {
    display: grid;
    grid-template-columns: repeat(2, $card-width);
    justify-content: center;
    gap: $gap;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, $card-width);
    justify-content: center;
    gap: $gap;
    max-width: 100%;
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(4, $card-width);
    justify-content: center;
    gap: $gap;
    max-width: 100%;
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__card:last-child {
    margin-bottom: 72px;
  }
}
